<!DOCTYPE html>
<html lang="en" th:replace="admin/adminbase :: layout (~{::main})">

<head>

</head>

<body>
    <!-- Main Content -->
    <main class="main-content">

        <!-- Top Navbar -->
        <div class="top-navbar d-flex justify-content-between align-items-center">
            <h4>Welcome, Admin</h4>
            <button class="btn btn-light" data-bs-toggle="modal" data-bs-target="#logoutModal">Logout</button>
        </div>

        <!-- Content -->

        <div class="row mt-4">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h5>Orders List</h5>
                    </div>
                    <div class="card-body">
                        <div class="table-container">
                            <table class="table table-bordered table-dark">
                                <thead>
                                    <tr>
                                        <th scope="col">Order ID</th>
                                        <th scope="col">User Id</th>
                                        <th scope="col" colspan="2">Product</th>
                                        <th scope="col">Product Quantity</th>
                                        <th scope="col">Product Price</th>
                                        <th scope="col">Payment mode</th>
                                        <th scope="col">Delivery Address</th>
                                        <th scope="col">Order Date</th>
                                        <th scope="Col">Delivery Date</th>
                                        <th scope="col">Status</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr th:each="order :${OrderItems}">
                                        <td class="editable" th:text="${order.order.orderId}"></td>
                                        <td class="editable" th:text="${order.order.user.userId}"></td>
                                        <td>
                                            <image th:src="@{${order.product.images[0].imageUrl}}" alt="category image"
                                                style="width: 70px; height: 70px;">
                                        </td>
                                        <td> <span th:text="${order.product.prodName}"></span></td>
                                        <td class="editable" th:text="${order.prodQuantity}"></td>
                                        <td class="editable" th:text="${order.price}  "></td>
                                        <td class="editable"
                                            th:text="${order.product.offerPrice * order.prodQuantity}  "></td>
                                        <td class="editable" th:text="${order.order.paymentMode}"></td>
                                        <td class="editable"><span th:text="${order.order.address.address}"></span>
                                            <span th:text="${order.order.address.landmark}"></span>
                                            <span th:text="${order.order.address.city}"></span>
                                            <span th:text="${order.order.address.state}"></span>
                                            <span th:text="${order.order.address.pincode}"></span>
                                            <span th:text="${order.order.address.country}"></span>
                                        </td>
                                        <td class="editable" th:text="${order.order.orderDate}"></td>
                                        <td class="editable" th:text="${order.deliveryDate}"></td>
                                        <td>
                                            <form th:action="@{/admin/order/update}" method="post">
                                                <input type="hidden" th:value="${order.orderItemId}" name="orderItemId">
                                                <select class="form-select" name="status" style="min-width: 120px;"
                                                    onchange="this.form.submit()">
                                                    <option value="Pending" th:selected="${order.status == 'Pending'}">
                                                        Pending</option>
                                                    <option value="Shipped" th:selected="${order.status == 'Shipped'}">
                                                        Shipped</option>
                                                    <option value="Delivered"
                                                        th:selected="${order.status == 'Delivered'}">Delivered</option>
                                                    <option value="Cancelled"
                                                        th:selected="${order.status == 'Cancelled'}">Cancelled</option>
                                                </select>

                                            </form>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </main>


</body>

</html>