<!DOCTYPE html>
<html lang="en" th:replace="admin/adminbase :: layout (~{::main})">

<head>

</head>

<body>
	<!-- Main Content -->
	<main class="main-content">

		<!-- Top Navbar -->
		<div class="top-navbar d-flex justify-content-between align-items-center">
			<h4>Welcome, Admin</h4>
			<button class="btn btn-light" data-bs-toggle="modal" data-bs-target="#logoutModal">Logout</button>
		</div>

		<!-- Product List Section -->
		<div class="row mt-4">
			<div class="col-md-12">
				<div class="card">
					<div class="card-header">
						<h5 class="d-inline">User List</h5>


					</div>
					<div class="card-body">
						<div class="table-container">
							<table class="table table-bordered table-dark" id="horizontalTable">
								<thead>
									<tr>
										<th scope="col">User Id</th>
										<th scope="col">Name</th>
										<th scope="col">Email</th>
										<th scope="col">User Type</th>
										<th scope="col">Last Login</th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="user : ${User}">
										<td th:text="${user.Id}"></td>
										<td th:text="${user.name}"></td>
										<td th:text="${user.email}"></td>
										<td th:text="${user.userType}"></td>
										<td th:text="${user.lastLoginAt}"></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>

	</main>
</body>

</html>