<!doctype html>
<html lang="en" th:replace="base::layout(~{::main})">

<head>

</head>

<body>
    <main style="padding-bottom: 120px;">
        <!-- Main Content Placeholder -->


        <!-- Best Selling Products -->
        <section class="best-selling container mt-1">
            <h2 class="text-center fw-bold my-3 mt-5"
                th:text="${category != null ? category.categoryName : (query != null ? #strings.concat('Results for: ', query) : 'All Products')}">
            </h2>

            <!-- Filters and Sorting -->
            <!-- Filters and Sorting -->
            <div class="d-flex mb-3 gap-3">

                <!-- Sort By Filter -->
                <div class="dropdown">
                    <button class="btn btn-outline-secondary dropdown-toggle" type="button" id="sortByDropdown"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Sort by
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="sortByDropdown">
                        <li>
                            <a class="dropdown-item"
                                th:href="@{/products(query=${param.query}, categoryId=${param.categoryId}, color=${param.color}, guarantee=${param.guarantee}, sortBy='priceAsc', diameter=${param.diameter}, thickness=${param.thickness}, capacity=${param.capacity}, minDiscount=${param.minDiscount}, maxDiscount=${param.maxDiscount})}">
                                Low to High Price
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item"
                                th:href="@{/products(query=${param.query}, categoryId=${param.categoryId}, color=${param.color}, guarantee=${param.guarantee}, sortBy='priceDesc', diameter=${param.diameter}, thickness=${param.thickness}, capacity=${param.capacity}, minDiscount=${param.minDiscount}, maxDiscount=${param.maxDiscount})}">
                                High to Low Price
                            </a>
                        </li>
                    </ul>
                </div>


                <!-- Color Filter -->
                <div class="dropdown">
                    <button class="btn btn-outline-secondary dropdown-toggle" type="button" id="colorDropdown"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Color
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="colorDropdown">
                        <li>
                            <a class="dropdown-item"
                                th:href="@{/products(query=${param.query}, categoryId=${param.categoryId}, color=null, guarantee=${param.guarantee}, sortBy=${param.sortBy}, diameter=${param.diameter}, thickness=${param.thickness}, capacity=${param.capacity}, minDiscount=${param.minDiscount}, maxDiscount=${param.maxDiscount})}">
                                All Colors
                            </a>
                        </li>
                        <li th:each="color : ${colors}">
                            <a class="dropdown-item"
                                th:href="@{/products(query=${param.query}, categoryId=${param.categoryId}, color=${color}, guarantee=${param.guarantee}, sortBy=${param.sortBy}, diameter=${param.diameter}, thickness=${param.thickness}, capacity=${param.capacity}, minDiscount=${param.minDiscount}, maxDiscount=${param.maxDiscount})}"
                                th:text="${color}"></a>
                        </li>
                    </ul>
                </div>

                <!-- Guarantee Filter -->
                <div class="dropdown">
                    <button class="btn btn-outline-secondary dropdown-toggle" type="button" id="guaranteeDropdown"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Guarantee
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="guaranteeDropdown">
                        <li>
                            <a class="dropdown-item"
                                th:href="@{/products(query=${param.query}, categoryId=${param.categoryId}, color=${param.color}, guarantee=null, sortBy=${param.sortBy}, diameter=${param.diameter}, thickness=${param.thickness}, capacity=${param.capacity}, minDiscount=${param.minDiscount}, maxDiscount=${param.maxDiscount})}">
                                All Guarantees
                            </a>
                        </li>
                        <li th:each="guarantee : ${guarantees}">
                            <a class="dropdown-item"
                                th:href="@{/products(query=${param.query}, categoryId=${param.categoryId}, color=${param.color}, guarantee=${guarantee}, sortBy=${param.sortBy}, diameter=${param.diameter}, thickness=${param.thickness}, capacity=${param.capacity}, minDiscount=${param.minDiscount}, maxDiscount=${param.maxDiscount})}"
                                th:text="${guarantee}"></a>
                        </li>
                    </ul>
                </div>

                <!-- Diameter Filter -->
                <div class="dropdown">
                    <button class="btn btn-outline-secondary dropdown-toggle" type="button" id="diameterDropdown"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Diameter
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="diameterDropdown">
                        <li>
                            <a class="dropdown-item"
                                th:href="@{/products(query=${param.query}, categoryId=${param.categoryId}, color=${param.color}, guarantee=${param.guarantee}, sortBy=${param.sortBy}, diameter=null, thickness=${param.thickness}, capacity=${param.capacity}, minDiscount=${param.minDiscount}, maxDiscount=${param.maxDiscount})}">
                                All Diameters
                            </a>
                        </li>
                        <li th:each="diameter : ${diameters}">
                            <a class="dropdown-item"
                                th:href="@{/products(query=${param.query}, categoryId=${param.categoryId}, color=${param.color}, guarantee=${param.guarantee}, sortBy=${param.sortBy}, diameter=${diameter}, thickness=${param.thickness}, capacity=${param.capacity}, minDiscount=${param.minDiscount}, maxDiscount=${param.maxDiscount})}"
                                th:text="${diameter}"></a>
                        </li>
                    </ul>
                </div>

                <!-- Thickness Filter -->
                <div class="dropdown">
                    <button class="btn btn-outline-secondary dropdown-toggle" type="button" id="thicknessDropdown"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Thickness
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="thicknessDropdown">
                        <li>
                            <a class="dropdown-item"
                                th:href="@{/products(query=${param.query}, categoryId=${param.categoryId}, color=${param.color}, guarantee=${param.guarantee}, sortBy=${param.sortBy}, diameter=${param.diameter}, thickness=null, capacity=${param.capacity}, minDiscount=${param.minDiscount}, maxDiscount=${param.maxDiscount})}">
                                All Thicknesses
                            </a>
                        </li>
                        <li th:each="thickness : ${thicknesses}">
                            <a class="dropdown-item"
                                th:href="@{/products(query=${param.query}, categoryId=${param.categoryId}, color=${param.color}, guarantee=${param.guarantee}, sortBy=${param.sortBy}, diameter=${param.diameter}, thickness=${thickness}, capacity=${param.capacity}, minDiscount=${param.minDiscount}, maxDiscount=${param.maxDiscount})}"
                                th:text="${thickness}"></a>
                        </li>
                    </ul>
                </div>

                <!-- Capacity Filter -->
                <div class="dropdown">
                    <button class="btn btn-outline-secondary dropdown-toggle" type="button" id="capacityDropdown"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Capacity
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="capacityDropdown">
                        <li>
                            <a class="dropdown-item"
                                th:href="@{/products(query=${param.query}, categoryId=${param.categoryId}, color=${param.color}, guarantee=${param.guarantee}, sortBy=${param.sortBy}, diameter=${param.diameter}, thickness=${param.thickness}, capacity=null, minDiscount=${param.minDiscount}, maxDiscount=${param.maxDiscount})}">
                                All Capacities
                            </a>
                        </li>
                        <li th:each="capacity : ${capacities}">
                            <a class="dropdown-item"
                                th:href="@{/products(query=${param.query}, categoryId=${param.categoryId}, color=${param.color}, guarantee=${param.guarantee}, sortBy=${param.sortBy}, diameter=${param.diameter}, thickness=${param.thickness}, capacity=${capacity}, minDiscount=${param.minDiscount}, maxDiscount=${param.maxDiscount})}"
                                th:text="${capacity}"></a>
                        </li>
                    </ul>
                </div>

                <!-- Discount Filter -->
                <div class="dropdown">
                    <button class="btn btn-outline-secondary dropdown-toggle" type="button" id="discountDropdown"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Discount
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="discountDropdown">
                        <li>
                            <a class="dropdown-item"
                                th:href="@{/products(query=${param.query}, categoryId=${param.categoryId}, color=${param.color}, guarantee=${param.guarantee}, sortBy=${param.sortBy}, diameter=${param.diameter}, thickness=${param.thickness}, capacity=${param.capacity}, minDiscount=10, maxDiscount=20)}">
                                10% to 20% Off
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item"
                                th:href="@{/products(query=${param.query}, categoryId=${param.categoryId}, color=${param.color}, guarantee=${param.guarantee}, sortBy=${param.sortBy}, diameter=${param.diameter}, thickness=${param.thickness}, capacity=${param.capacity}, minDiscount=20, maxDiscount=30)}">
                                20% to 30% Off
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item"
                                th:href="@{/products(query=${param.query}, categoryId=${param.categoryId}, color=${param.color}, guarantee=${param.guarantee}, sortBy=${param.sortBy}, diameter=${param.diameter}, thickness=${param.thickness}, capacity=${param.capacity}, minDiscount=30, maxDiscount=40)}">
                                30% to 40% Off
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item"
                                th:href="@{/products(query=${param.query}, categoryId=${param.categoryId}, color=${param.color}, guarantee=${param.guarantee}, sortBy=${param.sortBy}, diameter=${param.diameter}, thickness=${param.thickness}, capacity=${param.capacity}, minDiscount=40, maxDiscount=50)}">
                                40% to 50% Off
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item"
                                th:href="@{/products(query=${param.query}, categoryId=${param.categoryId}, color=${param.color}, guarantee=${param.guarantee}, sortBy=${param.sortBy}, diameter=${param.diameter}, thickness=${param.thickness}, capacity=${param.capacity}, minDiscount=50)}">
                                50% and Above Off
                            </a>
                        </li>
                    </ul>
                </div>

            </div>

            <hr>
            <div class="row mb-5">
                <div class="col-md-3" th:each="product : ${products}">
                    <a th:href="@{/product/{prodId}(prodId=${product.prodId})}"
                        style="text-decoration: none; color: inherit;">
                        <div class="product-card2">
                            <div th:if="${product.images != null and not #lists.isEmpty(product.images)}">
                                <img th:src="@{${product.images[0].imageUrl}}" alt="Best Seller 1" class="img-fluid">
                            </div>
                            <p class="text-center p-2" th:text="${product.prodName}">Product Name</p>
                            <p class="text-center">
                                <span th:if="${product.offerPrice != null}">
                                    Price: <s th:text="${product.mrp}">Rs.1800</s>
                                    <span class="text-danger" th:text="${product.offerPrice}">Rs.1620</span>
                                </span>
                                <span th:if="${product.offerPrice == null}">
                                    Price: <span class="text-danger" th:text="${product.mrp}">Rs.1800</span>
                                </span>
                            </p>
                        </div>
                    </a>
                    <form th:action="@{/cart/add}" method="post">
                        <input type="hidden" name="productId" th:value="${product.prodId}" />
                        <input type="hidden" name="quantity" value="1" min="1" />
                        <button type="submit" class="btn btn-outline-success d-block mx-auto p-2">Add to Cart</button>
                    </form>
                </div>
            </div>
        </section>
    </main>
</body>

</html>