<!doctype html>
<html lang="en" th:replace="base::layout(~{::main})">

<head>
</head>

<body>
	<main>     

        <!-- Best Selling Products -->
        <section class="best-selling container mt-1">
            <h2 class="text-center fw-bold my-3 mt-5">Pressure Cooker</h2>
            <div class="d-flex mb-3">
                <!-- Sort By Filter -->
                <div class="dropdown me-3">
                    <button class="btn btn-outline-secondary dropdown-toggle" type="button" id="sortBy" data-bs-toggle="dropdown" aria-expanded="false">
                        Sort by
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="sortByDropdown">
                        <li><a class="dropdown-item" href="#">Low to High Price</a></li>
                        <li><a class="dropdown-item" href="#">High to Low Price</a></li>
                    </ul>
                </div>
    
                <!-- Categories Filter -->
                <div class="dropdown me-3">
                    <button class="btn btn-outline-secondary dropdown-toggle" type="button" id="categoriesFilter" data-bs-toggle="dropdown" aria-expanded="false">
                        Categories
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="categoriesFilterDropdown">
                        <li><a class="dropdown-item" href="#">Cooker 1</a></li>
                        <li><a class="dropdown-item" href="#">Cooker 2</a></li>
                    </ul>
                </div>
    
                <!-- Color Filter -->
                <div class="dropdown">
                    <button class="btn btn-outline-secondary dropdown-toggle" type="button" id="colorFilter" data-bs-toggle="dropdown" aria-expanded="false">
                        Color
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="colorFilterDropdown">
                        <li><a class="dropdown-item" href="#">Black</a></li>
                        <li><a class="dropdown-item" href="#">Grey</a></li>
                    </ul>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-3">
                    <div class="product-card">
                        <img src="images/cooker.jpg" alt="Best Seller 1" class="img-fluid">
                        <p class="text-center p-2">Pressure Cooker - Induction Ceramic NS</p>
                        <p class="text-center">Price: <s>Rs.1800</s> <span class="text-danger">Rs.1620</span></p>
                    </div>
                    <button type="button" class="btn d-block mx-auto p-2" style="background-color: #DD7210;">Add to Cart</button>
                </div>
                <div class="col-md-3">
                    <div class="product-card">
                        <img src="images/fry pan.jpg" alt="Best Seller 2" class="img-fluid">
                        <p class="text-center p-2">Fry Pan - Frying Pan (Rounded Sides)</p>
                        <p class="text-center">Price: <s>Rs.1010</s> <span class="text-danger">Rs.905</span></p>
                    </div>
                    <button type="button" class="btn d-block mx-auto p-2" style="background-color: #DD7210;">Add to Cart</button>
                </div>
                <div class="col-md-3">
                    <div class="product-card">
                        <img src="images/deep fry pan.jpg" alt="Best Seller 3" class="img-fluid">
                        <p class="text-center p-2">Deep Fry Pan - Hawkins Deep Kadhai</p>
                        <p class="text-center">Price: <s>Rs.1775</s> <span class="text-danger">Rs.1595</span></p>
                    </div>
                    <button type="button" class="btn d-block mx-auto p-2" style="background-color: #DD7210;">Add to Cart</button>
                </div>
                <div class="col-md-3">
                    <div class="product-card">
                        <img src="images/tava.jpg" alt="Best Seller 1" class="img-fluid">
                        <p class="text-center p-2">Tava - Hawkins Non Stick Flat Tava</p>
                        <p class="text-center">Price: <s>Rs.1390</s> <span class="text-danger">Rs.1250</span></p>
                    </div>
                    <button type="button" class="btn d-block mx-auto p-2" style="background-color: #DD7210;">Add to Cart</button>
                </div>
            </div>

            <div class="row mt-2">
                <div class="col-md-3">
                    <div class="product-card">
                        <img src="images/cooker.jpg" alt="Best Seller 1" class="img-fluid">
                        <p class="text-center p-2">Pressure Cooker - Induction Ceramic NS</p>
                        <p class="text-center">Price: <s>Rs.1800</s> <span class="text-danger">Rs.1620</span></p>
                    </div>
                    <button type="button" class="btn d-block mx-auto p-2" style="background-color: #DD7210;">Add to Cart</button>
                </div>
                <div class="col-md-3">
                    <div class="product-card">
                        <img src="images/fry pan.jpg" alt="Best Seller 2" class="img-fluid">
                        <p class="text-center p-2">Fry Pan - Frying Pan (Rounded Sides)</p>
                        <p class="text-center">Price: <s>Rs.1010</s> <span class="text-danger">Rs.905</span></p>
                    </div>
                    <button type="button" class="btn d-block mx-auto p-2" style="background-color: #DD7210;">Add to Cart</button>
                </div>
                <div class="col-md-3">
                    <div class="product-card">
                        <img src="images/deep fry pan.jpg" alt="Best Seller 3" class="img-fluid">
                        <p class="text-center p-2">Deep Fry Pan - Hawkins Deep Kadhai</p>
                        <p class="text-center">Price: <s>Rs.1775</s> <span class="text-danger">Rs.1595</span></p>
                    </div>
                    <button type="button" class="btn d-block mx-auto p-2" style="background-color: #DD7210;">Add to Cart</button>
                </div>
                <div class="col-md-3">
                    <div class="product-card">
                        <img src="images/tava.jpg" alt="Best Seller 1" class="img-fluid">
                        <p class="text-center p-2">Tava - Hawkins Non Stick Flat Tava</p>
                        <p class="text-center">Price: <s>Rs.1390</s> <span class="text-danger">Rs.1250</span></p>
                    </div>
                    <button type="button" class="btn d-block mx-auto p-2" style="background-color: #DD7210;">Add to Cart</button>
                </div>
            </div>

            <div class="row mt-2">
                <div class="col-md-3">
                    <div class="product-card">
                        <img src="images/cooker.jpg" alt="Best Seller 1" class="img-fluid">
                        <p class="text-center p-2">Pressure Cooker - Induction Ceramic NS</p>
                        <p class="text-center">Price: <s>Rs.1800</s> <span class="text-danger">Rs.1620</span></p>
                    </div>
                    <button type="button" class="btn d-block mx-auto p-2" style="background-color: #DD7210;">Add to Cart</button>
                </div>
                <div class="col-md-3">
                    <div class="product-card">
                        <img src="images/fry pan.jpg" alt="Best Seller 2" class="img-fluid">
                        <p class="text-center p-2">Fry Pan - Frying Pan (Rounded Sides)</p>
                        <p class="text-center">Price: <s>Rs.1010</s> <span class="text-danger">Rs.905</span></p>
                    </div>
                    <button type="button" class="btn d-block mx-auto p-2" style="background-color: #DD7210;">Add to Cart</button>
                </div>
                <div class="col-md-3">
                    <div class="product-card">
                        <img src="images/deep fry pan.jpg" alt="Best Seller 3" class="img-fluid">
                        <p class="text-center p-2">Deep Fry Pan - Hawkins Deep Kadhai</p>
                        <p class="text-center">Price: <s>Rs.1775</s> <span class="text-danger">Rs.1595</span></p>
                    </div>
                    <button type="button" class="btn d-block mx-auto p-2" style="background-color: #DD7210;">Add to Cart</button>
                </div>
                <div class="col-md-3">
                    <div class="product-card">
                        <img src="images/tava.jpg" alt="Best Seller 1" class="img-fluid">
                        <p class="text-center p-2">Tava - Hawkins Non Stick Flat Tava</p>
                        <p class="text-center">Price: <s>Rs.1390</s> <span class="text-danger">Rs.1250</span></p>
                    </div>
                    <button type="button" class="btn d-block mx-auto p-2" style="background-color: #DD7210;">Add to Cart</button>
                </div>
            </div>
            <button type="button" class="btn button d-block mx-auto p-2 px-5 mt-5 rounded-pill" style="background-color: #DD7210; color: #ffff; font-size: 14px;"><span>View All</span></button>
        </section>
        </main>
    </body>
</html>