<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="userdashboard::layout(~{::main})">

<head>

</head>

<body class="text-light" style="background-color: #121212;">

  <!-- Main Content -->
  <main>
    <div class="p-4 px-5 rounded" style="background-color: #1f1f1f;">

      <!-- Page Heading -->
      <h4 class="mb-4">Available Coupons</h4>
      <div th:each="coupon : ${coupon}">
        <!-- Coupon Item -->
        <div class="card mb-3">
          <div class="card-body">
            <div class="d-flex justify-content-between align-items-center">
              <!-- Coupon Title -->
              <div>
                <h5 class="card-title mb-1" th:text="${coupon.couponName}">₹75 off on next 4 Orders</h5>
                <p class="card-text small text-light"><span th:text="${coupon.discountRate}"></span>% Off Upto Rs <span
                    th:text="${coupon.uptoAmount}"></span><br /><span th:text="${coupon.description}"></span></p>
                <h6 class="text-light">Use Code: <span th:text="${coupon.couponCode}"></span></h6>
              </div>
              <!-- Coupon Validity -->
              <div>
                <p class="mb-1 text-light">Valid till <span th:text="${coupon.expireDate}"></span></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</body>

</html>