<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="userdashboard::layout(~{::main})">

<head>

</head>

<body class="text-light" style="background-color: #121212;">

    <!-- Main Content -->
    <main>
        <div class="p-4 px-5 border rounded" style="background-color: #1f1f1f;">

            <h4 class="mb-4">My Orders</h4>
            <div class="d-flex gap-3">
                <!-- Status Filter -->
                <div class="dropdown mb-4">
                    <button class="btn btn-outline-secondary dropdown-toggle" type="button" id="colorDropdown"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Order Status
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="colorDropdown">
                        <li>
                            <a class="dropdown-item">On the Way</a>
                        </li>
                        <li>
                            <a class="dropdown-item">Delivered</a>
                        </li>
                        <li>
                            <a class="dropdown-item">Cancelled</a>
                        </li>
                        <li>
                            <a class="dropdown-item">Returned</a>
                        </li>
                    </ul>
                </div>

                <!-- Time Filter -->
                <div class="dropdown mb-4">
                    <button class="btn btn-outline-secondary dropdown-toggle" type="button" id="colorDropdown"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Order Time
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="colorDropdown">
                        <li>
                            <a class="dropdown-item">Last 30 days</a>
                        </li>
                        <li>
                            <a class="dropdown-item">2024</a>
                        </li>
                        <li>
                            <a class="dropdown-item">2023</a>
                        </li>
                        <li>
                            <a class="dropdown-item">2022</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div id="product-1" class="card mb-4 p-3">
                <div class="row align-items-center d-flex">
                    <div class="col-2">
                        <img src="images/deep fry pan.jpg" alt="Product Image" class="img-fluid"
                            style="border-radius: 5px;">
                    </div>
                    <div class="col-7">
                        <p class="text-light mb-2">Kadhai - Cast Iron Blacksmith Hybrid Series</p>
                        <div class="wishlist-price fw-bold" style="font-size: 1rem;">
                            <span class="text-danger" style="font-size: 1.2rem;">₹699</span>
                        </div>
                    </div>
                    <div class="col-3 text-end text-light">
                        <p class="fw-bold">Delivered on Jan 21, 2023</p>
                        <p style="font-size: 14px;">Your item has been delivered</p>
                    </div>
                </div>
            </div>


            <div id="product-2" class="card mb-4 p-3">
                <div class="row align-items-center d-flex">
                    <div class="col-2">
                        <img src="images/deep fry pan.jpg" alt="Product Image" class="img-fluid"
                            style="border-radius: 5px;">
                    </div>
                    <div class="col-7">
                        <p class="text-light mb-2">Kadhai - Cast Iron Blacksmith Hybrid Series</p>
                        <div class="wishlist-price fw-bold" style="font-size: 1rem;">
                            <span class="text-danger" style="font-size: 1.2rem;">₹699</span>
                        </div>
                    </div>
                    <div class="col-3 text-end text-light">
                        <p class="fw-bold">Delivered on Jan 21, 2023</p>
                        <p style="font-size: 14px;">Your item has been delivered</p>
                    </div>
                </div>
            </div>
            <div id="product-3" class="card mb-4 p-3">
                <div class="row align-items-center d-flex">
                    <div class="col-2">
                        <img src="images/deep fry pan.jpg" alt="Product Image" class="img-fluid"
                            style="border-radius: 5px;">
                    </div>
                    <div class="col-7">
                        <p class="text-light mb-2">Kadhai - Cast Iron Blacksmith Hybrid Series</p>
                        <div class="wishlist-price fw-bold" style="font-size: 1rem;">
                            <span class="text-danger" style="font-size: 1.2rem;">₹699</span>
                        </div>
                    </div>
                    <div class="col-3 text-end text-light">
                        <p class="fw-bold">Delivered on Jan 21, 2023</p>
                        <p style="font-size: 14px;">Your item has been delivered</p>
                    </div>
                </div>
            </div>
        </div>

        </div>
        </div>


        <!-- Delete Confirmation Modal -->
        <div class="modal fade" id="confirmDeleteModal" tabindex="-1" aria-labelledby="confirmDeleteModalLabel"
            aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" style="color:black;" id="confirmDeleteModalLabel">Confirm Remove</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body" style="color:black;">
                        Are you sure you want to remove this product?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                        <button id="confirmDeleteBtn" type="button" class="btn btn-danger">Yes</button>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>

</html>