.cart-container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
}

.cart-header, .coupon-section, .summary-section, .action-buttons {
    margin-bottom: 20px;
}

.cart-item {
    padding: 10px;
    border: 1px solid grey;
    border-radius: 8px;
    background-color: #1f1f1f;
    margin-bottom: 15px;
}

.coupon-section {
    padding: 10px;
    border: 1px solid grey;
    border-radius: 8px;
    background-color: #1f1f1f;
    margin-bottom: 15px;
}

.summary-section {
    padding: 15px;
    border: 1px solid grey;
    border-radius: 8px;
    background-color: #1f1f1f;
}

.text-muted{
    color: grey !important;
}