.table {
    --bs-table-bg: #121212 !important;
    --bs-table-color: #ffffff !important;
    --bs-table-border-color: #333333 !important;
}

.info-table td, .info-table th {
    padding: 8px;
    border: 1px solid #ddd;
}
